.vacancy .title{
    /* font-family: Inter; */
font-size: 36px;
font-weight: 600;
line-height: 44px;
letter-spacing: 0em;
text-align: left;
color: black;


}
.vacancy .info{
    color: black;
    /* font-family: Inter; */
font-size: 18px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;

text-align: left;

/* border: 1px solid red; */
}