.vacancy .title{
    /* font-family: Inter; */
font-size: 36px;
font-weight: 600;
line-height: 44px;
letter-spacing: 0em;
text-align: left;
color: black;


}
.vacancy .info{
    color: black;
    /* font-family: Inter; */
font-size: 18px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;

text-align: left;

/* border: 1px solid red; */
}

.item .list{
    /* font-family: Inter; */
font-size: 16px;
font-weight: 500;
line-height: 17px;
/* border: 1px solid red; */
letter-spacing: 0em;
text-align: left;
margin: 0 0 5px 0px;
color: #C2C2C2;

}
.item .info{
    /* font-family: Inter; */
font-size: 18px;
text-transform: capitalize;
margin: 0 0 30px 0;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: left;

}
.item div{
    font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
/* border: 1px solid red;  */
color: #C2C2C2;
display: flex;
gap: 5px;
}